body {
  margin: 0;
  text-align: center;
}

.top-container {
  background-color: #e1f2fb;
  padding: 150px;
  position: relative;
}

h1 {
  font-family: 'Dancing Script', cursive;
  margin-top: 0;
}

p {
  font-family: 'Satisfy', cursive;
  font-size: 25px;
}

.middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: blue;
  height: 200px;
  width: 200px;
}

.student {
  text-decoration: underline;
}

.mountain {
  height: 350px;
  position: relative;
  top: 150px;
  width: 350px;
}

.firstCloud {
  position: absolute;
  right: 450px;
  top: 5px;
}

.secondCloud {
  position: absolute;
  left: 400px;
}
